#aboutContainer{
    height: 100vh;
    padding: 300px 350px 300px 200px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    color: white;
}

#aboutTitle{
    font-family: "Quicksand";
    font-weight: bold;
    font-size: 50px;
}