#toursContainer {
  height: 100vh;
  background-position: center;
}

.lampContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lamp{
    margin: 0 1.5rem;
}
